<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/msf-2.0.21.min.js"></script>
  </head>
  <body ng-app="goofi">
      <ion-content class="padding" ng-controller="goofiCtrl">
        <div class="list" ng-hide="ipCorrect">
          <label class="item item-input">
            <input type="text" placeholder="TV IP:" ng-model="IP">
          </label>
          <button class="button button-block button-positive icon-left ion-gear-a" ng-click="setIP(IP)">
            SET IP
          </button><br>
          <button class="button button-block button-assertive" ng-show="wrongIP" disabled>
            <b>WRONG IP</b>
          </button>
        </div>
        <div class="appRuns" ng-show="ipCorrect">
          <a href="{{link}}"><img ng-src="{{image}}" class="image"></a>
        </div>
      </ion-content>
  </body>
</html>
